# ignore the config file created by buildout init
buildout.cfg

# ignore the instance folders
bin
develop-eggs
eggs
include
lib
parts
src

# ignore the buildout architecture
.installed.cfg
.mr.developer.cfg

# mac files
.DS_Store

